section{
    padding: 5rem calc((100vw - 1200px) / 2);
    background-color: var(--bg-green);
    display: flex;
    gap: 3rem;
    min-height: calc(100vh - 24rem);
}

.cart{
    width: 70%;
    background-color: var(--light-gray);
    border-radius: 20px;
    padding: 4rem 2rem;
}

.cart .top-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.cart .top-div h1{
    color: var(--black);
}

.cart .top-div p{
    font-size: 20px;
    color: var(--black);
}
.cart .top-div p span{
    font-size: 20px;
    color: var(--main-green);
    font-weight: 600;
    background-color: white;
    padding: .3rem .7rem;
    border-radius: 100px;
    line-height: 0;
    margin-left: .5rem;
}

.items-wrapper{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.items-wrapper .item{
    display: flex;
    gap: 1.5rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 15px var(--dark-gray);
    position: relative;
}

.items-wrapper img{
    width: 30%;
    object-fit: cover;
    display: block;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.items-wrapper .content{
    width: 70%;
    display: flex;
    flex-direction: column;
    padding-block: 1.5rem;
    padding-right: 1.5rem;
}

.items-wrapper .content h2{
    color: var(--main-green);
    margin-bottom: 1rem;
}

.items-wrapper .content p{
    color: var(--dark-gray);
}

.items-wrapper .content h3{
    color: var(--main-green);
    margin-top: 1rem;
    width: 100%;
    border-top: solid 1px var(--dark-gray);
    text-align: end;
    padding-top: 1rem;
}

.items-wrapper .remove{
    position: absolute;
    top: 0;
    right: 0;
    translate: 40% -40%;
    background: var(--black);
    color: white;
    padding: .5rem .8rem;
    font-size: 16px;
    border-radius: 500px;
    cursor: pointer;
    transition: 200ms;
}

.items-wrapper .remove:hover{
    background-color: var(--red);
}

.total-amount{
    text-align: end;
    width: 100%;
    color: var(--black);
    border-top: solid 1px var(--black);
    padding-top: 1rem;
}

.total-amount span{
    font-size: 28px;
    margin-left: 1rem;
    text-decoration: underline;
}

.total {
    width: 30%;
    background-color: var(--light-gray);
    border-radius: 20px;
    padding: 2rem;
    height: max-content;
    color: var(--black);
}

.total h1{
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: solid 1px var(--black)
}

.total p{
    margin-bottom: .5rem;
}

.total h2{
    border-block: solid 1px var(--black);
    padding-block: .5rem;
    margin-block: 1rem;
}

.total button{
    font-size: 20px;
    width: 100%;
    padding: 1rem;
    background: var(--black);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 2rem;
    transition: 400ms;
}

.total button:hover{
    background-color: var(--main-green);
    box-shadow: 0 0 10px var(--main-green);
    scale: 1.05;
}

@media(max-width: 1200px){
    section{
        padding-inline: 2rem;
    }
}

@media(max-width: 700px) {
    section {
        flex-direction: column;
    }

    section > *{
        width: 100% !important;
    }

    .item{
        flex-direction: column;
        gap: 0 !important;
    }

    .item > *{
        width: 100% !important;
    }

    .item img{
        border-bottom-left-radius: 0;
    }

    .item .content{
        padding: 1.5rem;
    }
}